#footer {
  width: 100%;
  padding: 6.4rem 12rem 10rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .logo-container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 4rem;
      .personal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.6rem;
        div {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          p {
            font-family: Inter;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.694rem;
            color: rgba(100, 116, 139, 1);
          }
        }
      }
      .socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.3rem;
        p {
          font-family: Inter;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.694rem;
          color: rgba(148, 163, 184, 1);
        }
        .social-icons {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 2.4rem;
          a {
            cursor: pointer;
            img {
              transition: transform 0.3s ease;
            }
            img:hover {
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }
  .filler {
    border-top: 0.2rem;
    background-color: #f1f5f9;
  }
  .base-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      gap: 5.6rem;
      list-style: none;
      a {
        cursor: pointer;
        text-decoration: none;
        li {
          font-family: Inter;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.694rem;
          color: rgba(100, 116, 139, 1);
          transition: transform 0.3s ease;
        }
        li:hover {
          transform: translateY(-1px);
        }
      }
    }
    .label {
      font-family: Assistant;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.831rem;
      color: rgba(10, 20, 47, 1);
    }
  }
}

@media (max-width: 1280px) {
  #footer {
    padding: 4.8rem 8rem;
  }
}
@media (max-width: 1024px) {
  #footer {
    padding: 4.8rem 6rem;
  }
}

@media (max-width: 850px) {
  #footer {
    padding: 4.8rem 4rem;
    .footer-main {
      grid-template-columns: 1fr;
      gap: 3.2rem;
      .contacts {
        gap: 1.6rem;
      }
    }
    .base-footer {
      flex-direction: column;
      align-items: start;
      gap: 2.8rem;
      ul {
        gap: 2.4rem;
      }
    }
  }
}

@media (max-width: 480px) {
  #footer {
    padding: 4.8rem 2.4rem;
  }
}
