#features {
  width: 100%;
  padding: 8rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  h2 {
    font-family: Extatica;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.096rem;
    text-align: center;
    color: rgba(45, 86, 236, 1);
  }
  .features-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4.8rem;
  }
}

@media (max-width: 1280px) {
  #features {
    padding: 5.6rem 8rem;
    gap: 4.8rem;
    .features-container {
      row-gap: 3.6rem;
    }
  }
}

@media (max-width: 1024px) {
  #features {
    padding: 5.6rem 6rem;
    .features-container {
      grid-template-columns: 1fr 1fr;
      gap: 3.6rem;
    }
  }
}

@media (max-width: 850px) {
  #features {
    // border-top: 0.1rem solid rgba(203, 213, 225, 1);
    padding: 4.8rem 4rem;
    position: static;
    gap: 4rem;
    h2 {
      font-size: 2.8rem;
      line-height: 3.584rem;
    }
  }
}
@media (max-width: 680px) {
  #features {
    .features-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
}

@media (max-width: 480px) {
  #features {
    padding: 4.8rem 2.4rem;
    gap: 3.6rem;
  }
}
