#feature-card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  .feature-header {
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 0.8rem;
    .common-header {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: stretch;
      position: relative;
      gap: 1.2rem;
      .icon-container {
        width: 3.2rem;
        height: 3.2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .diamond-bg {
        position: absolute;
        top: -0.7rem;
        left: -0.7rem;
      }

      h3 {
        font-family: Inter;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.52rem;
        color: rgba(71, 85, 105, 1);
      }
    }
    .highlight {
      margin: 0.55rem 0;
      padding: 0.2rem 0.6rem;
      border-radius: 0.2rem;
      background-color: rgba(235, 163, 28, 0.2);
      font-family: Inter;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.704rem;
      color: rgba(235, 163, 28, 1);
      text-align: center;
    }
  }
  p {
    padding: 0 1.2rem;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.368rem;
    color: rgba(100, 116, 139, 1);
    span {
      font-weight: 700;
    }
  }
}
@media (max-width: 360px) {
  #feature-card {
    .feature-header {
      padding: 0;
    }
    p {
      padding: 0;
    }
  }
}
