@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

@font-face {
  font-family: "Extatica";
  font-weight: 400;
  src: url(./assets//fonts/Extatica/Extatica-Regular.otf);
}

/* :root {
  --text-gradient {
    background-color: linear-gradient(
      to right,
      rgba(45, 86, 236, 1),
      rgba(26, 172, 234, 1)
    );
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.blue-gradient {
  background-image: linear-gradient(
    to right,
    rgba(45, 86, 236, 1),
    rgba(26, 172, 234, 1)
  );
}
.text-gradient {
  background: linear-gradient(
    to right,
    rgba(53, 93, 237, 1),
    rgba(26, 172, 234, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.drop-shadow {
  filter: drop-shadow(0px 4px 6px rgba(26, 172, 234, 0.12));
}
